<div>
    <button class="btn btn-danger" ng-click="showConfirm=true" ng-show="!showConfirm"><i class="glyphicon glyphicon-trash"></i>D</button>

    <button class="btn btn-danger" ng-click="Delete(img.ImageUri)" ng-show="showConfirm"><i class="glyphicon glyphicon-ok-circle"></i>DC</button>
    <button class="btn btn-success" ng-click="showConfirm=false" ng-show="showConfirm"><i class="glyphicon glyphicon-remove"></i>DX</button>

    {{error}}
</div>
