
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Javascripts/ProductController.js"></script>
<div ng-controller="IndexController" id="mainAdmin">
    <h1>{{pagename}}</h1>
    <br />
    <a href="#!/material">Material</a>
    <br />    
    <a href="#!/colour">Colour</a>
    <br />
    <a href="#!/uploadimage">Upload Image</a>
    <br />
    <a href="#!/image">Add Image</a>
    <br />
    <a href="#!/product">Product</a>
    <br />
    <div ng-view></div> 
</div>

