<div>
    <h2>{{pagename}}</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Select files</label>
            <div class="col-md-10">
                <input type="text" name="filename" value="filename1"/>
                <input type="file" name="file" multiple ng-files="getTheFiles($files)" class="btn btn-default"/>
                @*<input type="file" ng-bind="{{stream}}" name="stream" multiple class="btn btn-default" />*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="button" value="Upload" ng-click="UploadImage()" class="btn btn-primary" />
            </div>
        </div>
        {{error}}
        <div class="form-group">
            <label class="control-label col-md-2">Image List</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td ng-repeat="img in images">
                            <div class="figure">
                                <p>
                                    <img src="{{img.ImageLocation}}"
                                         width="136" height="200"
                                         alt="{{img.Caption}}">
                                <p>
                                    {{img.Caption}}
                            </div>

                        </td>
                    </tr>
                </table>
                {{selectedImage.ImageLocation}}

            </div>
        </div>
    </form>
</div>

