<div>
    <h2>{{pagename}}</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Select files</label>
            <div class="col-md-10">
                <input type="file" name="file" multiple ng-files="getTheFiles($files)" class="btn btn-default"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="button" value="Upload" ng-click="UploadImage()" class="btn btn-primary" />
            </div>
        </div>
        {{error}}
        <div class="form-group">
            <label class="control-label col-md-2">Image List</label>           
            <div class="row">
                <div class="col-md-2" ng-repeat="img in images">
                    <div class="thumbnail show-image">
                            <img src="{{img.ImageLocation}}" style="width:100%;height:100px;" alt="{{img.Caption}}">
                            <edit-block></edit-block>
                    </div>
                </div>                
            </div>
        </div>

    </form>
</div>

