<script>
    $('#myCarousel').carousel({
        interval: 3000,
        pause: null
    })
</script>
<div class="panel panel-primary">
    <div class="panel-heading" style="cursor:pointer;" ng-click="collapse()">{{prod.product_name}}</div>
    <div class="panel-body" ng-hide="collapsed">
        <div class="col-md-4">
            <img style="width:100px;height:100px;cursor:pointer;" src="{{prod.PreviewImage.ImageLocation}}" ng-click="viewAllImages()"/>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal" ng-show="displayImages">
            <span class="close" ng-click="viewAllImages()">&times;</span>  
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" ng-repeat-start="img in prod.all_images" ng-if="$first">
                        <img class="modal-content" src="{{img.ImageLocation}}" />
                        <div class="carousel-caption">
                            <h1>{{img.Name}}</h1>
                            <p>{{img.Caption}}</p>
                        </div>
                    </div>
                    <div class="item" ng-repeat-end="img in prod.all_images" ng-if="!$first">
                        <img class="modal-content" src="{{img.ImageLocation}}" />
                        <div class="carousel-caption">
                            <h1>{{img.Name}}</h1>
                            <p>{{img.Caption}}</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            
                      
        </div>
        <div class="col-md-4">
            {{prod.product_description}}
        </div>
        <div class="col-md-2">
            Price: {{prod.price_per_unit | currency: "INR "}}
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" ng-click="cart.addItem(prod.id, prod.product_name, prod.price_per_unit, 1)">
                Add to cart
            </button>
            <button class="btn btn-success" ng-click="cart.addItem(prod.id, prod.product_name, prod.price_per_unit, -10000)">
                Remove from cart
            </button>
        </div>

    </div>
</div>
